<div class="row">

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Review</dt>
          <dd><%= review.description %>
          <dt>Rating</dt>
          <dd><%= review.rating %>
        </dl>
      </div>
    </div>